

body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background:#0d6efd;
}

.navbar-brand{
    color:white !important;
    font-size:24px;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    transition:.3s;
}

.nav-link:hover{
    color:#dbeafe !important;
}



.sidebar{
    position:fixed;
    top:56px;
    left:0;
    width:250px;
    height:100%;
    background:#212529;
    padding-top:25px;
}

.sidebar h5{
    color:white;
    text-align:center;
    margin-bottom:25px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.sidebar a:hover{
    background:#0d6efd;
    padding-left:35px;
}



.content{

    margin-left:250px;
    margin-top:70px;
    padding:30px;

}

.page-title{

    font-size:32px;
    font-weight:bold;
    color:#0d6efd;
    margin-bottom:30px;

}



.card{

    border:none;
    border-radius:15px;
    box-shadow:0px 5px 15px rgba(0,0,0,.12);
    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.card h2{

    color:#0d6efd;
    font-weight:bold;

}

.card-title{

    font-weight:600;

}



.btn-primary{

    border-radius:10px;

}

.btn-success{

    border-radius:10px;

}

.btn-danger{

    border-radius:10px;

}

.btn-warning{

    border-radius:10px;

}


.table{

    background:white;

}

.table thead{

    background:#0d6efd;
    color:white;

}

.table-hover tbody tr:hover{

    background:#eef5ff;

}



.form-control{

    border-radius:10px;

}

.form-select{

    border-radius:10px;

}

textarea{

    resize:none;

}



.profile-img{

    width:170px;
    height:170px;
    border-radius:50%;
    border:6px solid #0d6efd;
    object-fit:cover;
    margin-bottom:20px;

}


.badge-skill{

    background:#0d6efd;
    color:white;
    padding:12px 18px;
    margin:8px;
    font-size:16px;
    border-radius:25px;
    display:inline-block;

}



.stat-card{

    text-align:center;
    padding:25px;

}

.stat-card i{

    font-size:45px;
    color:#0d6efd;
    margin-bottom:15px;

}

.stat-card h3{

    font-weight:bold;

}



footer{

    margin-top:40px;
    text-align:center;
    color:#6c757d;
    padding:20px;

}



@media(max-width:992px){

.sidebar{

    position:relative;
    width:100%;
    height:auto;

}

.content{

    margin-left:0;

}

}